@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

#root {
  height: 100vh;
}

body, p {
  font-family: "Work Sans", sans-serif;
}
  
.heading {
  margin: 35px;
  display: flex;
  justify-content: center;
}
  
.heading-sub {
  margin-bottom: 30px;
  margin-top: -15px;
  display: flex;
  justify-content: center;
}

.custom-text-secondary {
  font-weight: bolder;
  color: gray;
  font-family: inherit;
}

.custom-container {
  margin: 100px;
}

.button-group-login-signup {
  display: flex;
  justify-content: space-between;
}

.btn {
  font-weight: bolder !important;
  text-transform: uppercase;
  height: 3.1rem;
}



