.header-logo {
    text-decoration: none;
    color: black;
}

.header-logo:hover {
    color: black;
}

.profile-selector {
    display: grid;
    place-items: center;
}

.profile-name {
    text-decoration: none !important;
    color: black;
}

.profile-button {
    display: block;
}

