.note-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill);
    grid-row-gap: .5em;
    grid-column-gap: 1em;
}

.svg-wrapper {
    display: flex;
    justify-content: center;
}

.svg-styles {
    height: 35%;
    width: 35%;
}

.no-notes-text {
    text-align: center;
    margin: 3rem;
    color: rgba(48, 45, 45, 0.781);
}